
<div class="div-wp">
    <a href=""><img class="whatsapp-icon" src="/images/icono/wpp.png"></a>
</div>

<footer>
    <div class="item-footer">
        <p>Suscribite a nuestro Newsletter y recibí todas las promociones que tenemos para vos</p>
        <form  class="email-footer" action="">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-danger btn btn-outline-secondary" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                    <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                  </svg></button>
              </div>

        
            
        </form>
    </div>
    <div class="item-footer navfooter">
        <h5>NAVEGACIÓN</h5>
            <ul>
                <li><a  href="#">Inicio</a></li>
                <li><a  href="#">Productos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

    </div>
    <div class="item-footer">
        <h5>CONTACTANOS</h5>
        <i class="fa fa-whatsapp"> +541186337766 </i> <br>
        <i class="fa fa-envelope"> tubodega@gmail.com </i> <br>
        <i class="fa fa-location-arrow" aria-hidden="true">Av corrientes 232, CABA</i>
    </div>
    <div class="item-footer">
        <h5>REDES SOCIALES</h5>
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-whatsapp" aria-hidden="true"></i>
       
    </div>
    



</footer>