<header>
    <div class="logo">
        <a href="#">Tu Bodega</a>
    </div>

    

    <nav id="menu">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Trabajos</a></li>
            <li><a href="">Contacto</a></li>

        </ul>
    </nav>

    <div class="menu-toggle">
      <i class="fa fa-bars"></i>
    </div> 

    <div class="carrito">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </div>

    
    <script src="/js/navbar.js"></script>
</header>

<div class="busq">
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>
