<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/wp.css">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
      <main class="principal">

          <nav class="nav-header">
            <%- include('./partials/navbar') %>
          </nav>        

        <div class="contenedor">

            <div class="category">
                <h2>categoria</h2>
            </div> 
            <div class="products">
                    <article class="art">
                        <span class="desc">10% OFF</span>
                        <div class="img-products">
                            <img src="/images/fernet.jpg" alt="placeholder">
                        </div>
                        <div class="description">
                            <h4> titulo </h4>
                            <span class="price" itemprop="priceCurrency">$</span>
                            <span class="price">3000</span>                
                            <form action="">
                                <div class="d-grid gap-2">
                                    <button id="btn-comprar" class="btn btn-primary" type="button">Comprar</button>
                                </div>
                            </form>
                        </div>
                    </article> 
                    <article class="art">
                        <span class="desc">10% OFF</span>
                        
                        <div class="img-products">
                            <img src="/images/fernet.jpg" alt="placeholder">
                        </div>
                        <div class="description">
                            <h4> titulo </h4>
                            <span class="price" itemprop="priceCurrency">$</span>
                            <span class="price">3000</span>                
                            <form action="">
                                <div class="d-grid gap-2">
                                    <button id="btn-comprar" class="btn btn-primary" type="button">Comprar</button>
                                </div>
                            </form>
                        </div>
                    </article> 
                    <article class="art">
                        <span class="desc">10% OFF</span>
                        <div class="img-products">
                            <img src="/images/fernet.jpg" alt="placeholder">
                        </div>
                        <div class="description">
                            <h4> titulo </h4>
                            <span class="price" itemprop="priceCurrency">$</span>
                            <span class="price">3000</span>                
                            <form action="">
                                <div class="d-grid gap-2">
                                    <button id="btn-comprar" class="btn btn-primary" type="button">Comprar</button>
                                </div>
                            </form>
                        </div>
                    </article> 
                    <article class="art">
                        <span class="desc">10% OFF</span>
                        <div class="img-products">
                            <img src="/images/fernet.jpg" alt="placeholder">
                        </div>
                        <div class="description">
                            <h4> titulo </h4>
                            <span class="price" itemprop="priceCurrency">$</span>
                            <span class="price">3000</span>                
                            <form action="">
                                <div class="d-grid gap-2">
                                    <button id="btn-comprar" class="btn btn-primary" type="button">Comprar</button>
                                </div>
                            </form>
                        </div>
                    </article> 
                    <article class="art">
                        <span class="desc">10% OFF</span>
                        <div class="img-products">
                            <img src="/images/fernet.jpg" alt="placeholder">
                        </div>
                        <div class="description">
                            <h4> titulo </h4>
                            <span class="price" itemprop="priceCurrency">$</span>
                            <span class="price">3000</span>                
                            <form action="">
                                <div class="d-grid gap-2">
                                    <button id="btn-comprar" class="btn btn-primary" type="button">Comprar</button>
                                </div>
                            </form>
                        </div>
                    </article> 

                   
            </div>
        </div>

          <div class="footer">
            <%- include('./partials/footer') %>
          </div>
      </main>



      
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  </body>
</html>